*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu{
  background-color: #f5b14f;
  padding: 20px;
}

.menu ul{
  list-style: none;
  display: block;
  margin: 20px 10px;
}

.menu ul li{
  display: block;
  margin: 20px 0;
}

.menu ul li a{
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

@media (min-width: 768px) {
  .menu ul li{
    display: inline-block;
    margin: 0 20px;
  }

  .menu ul li a{
    font-size: 20px;
  }
}