*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grilla{
  height: 100vh;
  display: grid;
  grid-template-columns: 20% auto 15%;
  grid-template-rows: 100px 1fr 1fr 75px;

  grid-template-areas:
    "nav header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav footer footer"
  ;
  
  column-gap: 15px;
  row-gap: 15px;
}

.border{
  border: 1px solid black;
}

header{
  grid-area: header;
}

#productos{
  grid-area: productos;
}

#servicios{
  grid-area: servicios;
}

nav{
  grid-area: nav;
}

aside{
  grid-area: publicidad;
}

footer{
  grid-area: footer;
}