// Variables
$primary-color: #3f51b5;
$secondary-color: #ff4081;
$tertiary-color: #fff;
$succes-color: #4caf50;
$warning-color: #ff9800;
$danger-color: #f44336;

$page-type: "home";


$font-primary: 'Arial', sans-serif;
$font-heading: 'Helvetica Neue', sans-serif;